{% extends 'base.html.twig' %}

{% block title %}Deposit index{% endblock %}

{% block body %}
    <h1>Deposit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deposit in deposits %}
            <tr>
                <td>{{ deposit.id }}</td>
                <td>{{ deposit.name }}</td>
                <td>{{ deposit.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('deposit_edit', {'id': deposit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deposit_new') }}">Create new</a>
{% endblock %}
